* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eaebeb;
}

.loader {
  display: none;
}

.loader {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.loader .logo {
  position: relative;
  border: 2px solid;
  padding: 0.6rem;
}

.loader .logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 3px 0px 0px 3px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.disAppearClass {
  display: none;
}

/**NAVIGATION MENU**/
.myNav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 1.5rem;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.myNav .logo {
  position: relative;
  border: 2px solid;
  padding: 0.6rem;
}

.myNav .logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 3px 0px 0px 3px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.myNav .nav-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myNav .nav-links a {
  position: relative;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}

.myNav .nav-links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #ff9e00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.myNav .nav-links a:hover::before {
  left: 0;
  width: 100%;
}

.myNav .nav-links .cut-button {
  display: none;
}

.myNav .burger {
  display: none;
}

.myNav .burger .line1 {
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.myNav .burger .line2 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.myNav .burger .line3 {
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*****
.burger-change {
  .line1 {
    width: 40px;
    // transform: rotate(-45deg) translate(0px, 12px);
    transform-origin: end;
    transform: rotate(-45deg);
  }
  .line2 {
    width: 40px;
    opacity: 0;
    transform: translateX(-20px);
  }
  .line3 {
    // transform: rotate(45deg) translate(0px, -12px);
    transform-origin: start;
    transform: rotate(45deg);
  }
}
****/
/**FOR WHITE BACKGROUNDS***/
.newNav {
  background-color: #f1faee;
  color: #000;
  border-bottom: 1px solid #c1c1c1;
}

.newNav a {
  font-weight: 600;
  color: #000 !important;
}

.newNav .burger .line1,
.newNav .burger .line2,
.newNav .burger .line3 {
  background-color: #000;
}

.newNav .logo::before {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/**MAIN CONTAINER**/
.main {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9))), url("../img/bg.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contLinks {
  position: absolute;
  right: 0%;
  width: 40px;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .contLinks .iconProps {
  color: #c1c1c1;
  width: 20px;
  height: 20px;
}

.main .contLinks .iconProps:hover {
  color: #ff9e00;
}

.main .name-section {
  margin-bottom: 2rem;
}

.main .name-section .name {
  color: #f06925;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.main .name-section p {
  color: #dec9e9;
}

.main .cv-cont a {
  padding: 0.5rem 3rem;
  background-color: #ff9e00;
  text-decoration: none;
  color: #fff;
}

.main .cv-cont a:hover {
  background-color: #ff6d00;
}

/**ABOUT SECTION**/
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

.about-section .heading {
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  color: #e85d04;
}

.about-section .for-centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 1rem auto;
  background-color: #eaebeb !important;
}

.about-section .for-centering .picture {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  text-align: right;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-section .for-centering .picture img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.about-section .for-centering .intro {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .for-centering .intro h2 {
  letter-spacing: 1.5px;
  margin-bottom: 0.6rem;
}

.about-section .for-centering .intro p {
  margin-bottom: 2rem;
}

.about-section .for-centering .intro a {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  background-color: #ff9e00;
  text-decoration: none;
  color: #fff;
}

.about-section .for-centering .intro a:hover {
  background-color: #ff6d00;
}

.about-section .for-centering .just-fade {
  opacity: 1;
}

.about-section .for-centering .fade-in {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/**EDUCATION SECTION**/
.education {
  -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
          clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
  background-color: #fff;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0rem;
}

.education .heading {
  color: #e85d04;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.education .college {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.education .college .date {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  padding-left: 1rem;
  border-left: 2.5px solid #e85d04;
  border-radius: 2px;
}

.education .college .date p {
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.education .college .date .eduAnimation {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.education .college .place {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  padding-left: 1rem;
  min-height: 40px;
  border-left: 2.5px solid #e85d04;
  border-radius: 2px;
}

.education .college .place .college-name {
  font-size: 15px;
  font-weight: bold;
}

.education .college .place p {
  opacity: 0;
  font-size: 13px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.education .college .place .course-taken {
  font-style: italic;
  font-size: 14px;
}

.education .college .place .eduAnimation {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

/** PROJECTS SECTION **/
.projects {
  min-height: 60vh;
  background-color: #eaebeb;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.projects .heading {
  margin: 1rem;
  color: #e85d04;
  letter-spacing: 2px;
}

.projects .x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.projects .card {
  background-color: #fff;
  position: relative;
  width: 220px;
  height: 350px;
  margin: 0.7rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.projects .card .card-img {
  height: 100%;
}

.projects .card .card-img img {
  width: 100%;
  height: 100%;
}

.projects .card .card-name {
  background-color: rgba(255, 84, 0, 0.8);
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0.5rem 0;
  color: #eaebeb;
}

.projects .card .card-name h2 {
  letter-spacing: 2px;
}

.projects .card .zinc {
  position: absolute;
  content: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 158, 0, 0.2)), color-stop(rgba(255, 121, 0, 0.5)), to(rgba(255, 84, 0, 0.8)));
  background: linear-gradient(to top, rgba(255, 158, 0, 0.2), rgba(255, 121, 0, 0.5), rgba(255, 84, 0, 0.8));
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.projects .card:hover .zinc {
  content: '';
  opacity: 1;
}

.projects .cardGoesUp {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/** FOOTER SECTION **/
footer {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(232, 93, 4, 0.6);
}

/*****MEDIA QUERIES******/
@media (max-width: 850px) {
  .main .name-section {
    margin-bottom: 2rem;
  }
  .main .name-section .name {
    color: #f06925;
    font-size: 2rem;
  }
  .main .contLinks {
    bottom: 3%;
    right: 50%;
    height: 40px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .about-section {
    width: 100%;
    margin: auto;
    z-index: 0;
  }
  .about-section .for-centering {
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .for-centering .intro {
    text-align: center;
    padding: 1rem;
  }
  .about-section .for-centering .intro h2 {
    font-size: large;
    font-weight: bold;
  }
  .myNav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .myNav .burger {
    display: block;
    cursor: pointer;
  }
  .myNav .nav-links {
    background-color: black;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .myNav .nav-links li {
    opacity: 0;
    margin: 1em 1.5em;
  }
  .myNav .nav-links .cut-button {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    float: left;
    display: block;
  }
  .myNav .nav-links .cut-button:hover {
    color: #ff9e00;
  }
  .myNav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .newNav .nav-links {
    background-color: #f1faee !important;
  }
  .education {
    padding: 2rem 0rem;
  }
  .education .college {
    width: 80%;
    margin: 0.6rem 0rem;
  }
  .education .college .place h2 {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .main {
    background-attachment: scroll;
  }
  .main .name-section {
    margin-bottom: 2rem;
  }
  .main .name-section .name {
    color: #f06925;
    font-size: 1.5rem;
  }
  .myNav .nav-links {
    width: 60%;
  }
  .about-section .heading {
    display: none;
  }
  .education .heading {
    margin-left: 0rem;
  }
}

.progress-container {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 2px;
}

.progress-bar {
  height: 2px;
  background: #ff6d00;
  width: 0%;
}
/*# sourceMappingURL=style.css.map */