$colors: (
  primary: #5a189a,
  buttons: #ff9e00,
  buttonhover: #ff6d00,
  font: #f06925,
  headings: #e85d04,
  // bgGrey:#e9ecef
  bgGrey: #f8edeb,
  sth: rgba(255, 84, 0, 0.8),
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.loader {
  display: none;
}

/**NAVIGATION MENU**/
@import './HomeSection/navbar';

/**MAIN CONTAINER**/
@import './HomeSection/containerProps';
// .main{

/**ABOUT SECTION**/
@import './AboutSection/about';

/**EDUCATION SECTION**/
@import './EducationSection/education';

/** PROJECTS SECTION **/
@import './ProjectsSection/projects';

/** FOOTER SECTION **/
@import './FooterSection/footer';
/*****MEDIA QUERIES******/
@import './MediaQueries/mediaqueries';

.progress-container {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 2px;
}

.progress-bar {
  height: 2px;
  // background: #04AA6D;
  background: color(buttonhover);
  width: 0%;
}
