.name-section{
    .name{
        color:color(font);
        font-size: 3rem;
        font-weight:600;
        letter-spacing: 2px;
        word-spacing: 4px;
    }
    margin-bottom: 2rem;
    p{
        color:#dec9e9;
    }
}
.cv-cont{
    a{
        padding: 0.5rem 3rem;
        background-color: color(buttons);
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        background-color: color(buttonhover);
    }
}