*{
    margin:0;
    padding:0;
  }
  .loader{
    height:100vh;
    background-color:#fff1f1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
  }
  
  .lg{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:100px;
    position:relative;
  }
  
  .logo2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:100px;
  /*   border:4px solid #fff; */
    position:relative;
    top:10px;
    right:90px;
  }
  
  .logo .one{
    position:absolute;
    background-color:#000;
    width:4px;
    top:0;
    left:0;
    height:4px;
    animation:an1 1s linear infinite alternate;
  }
  
  .logo .two{
    position:absolute;
    background-color:#000;
    width:4px;
    top:0;
    right:0;
    height:4px;
    animation:an2 1s linear infinite alternate-reverse;
  }
  .logo .three{
    position:absolute;
    background-color:#000;
    width:4px;
    bottom:0;
    right:0;
    height:4px;
    animation:an1 1s linear infinite alternate;
  
  }
  .logo .four{
    position:absolute;
    background-color:#000;
    width:4px;
    left:0;
    bottom:0;
    height:4px;
    animation:an2 1s linear infinite alternate-reverse;
  }
  .logo2 .one{
    position:absolute;
    background-color:#000;
    width:4px;
    top:0;
    left:0;
    height:4px;
    animation:an1 1s linear infinite alternate-reverse;
  }
  .logo2 .two{
    position:absolute;
    background-color:#000;
    width:4px;
     top:0;
    right:0;
    height:4px;
    animation:an2 1s linear infinite alternate;
  }
  .logo2 .three{
    position:absolute;
    background-color:#000;
    width:4px;
    bottom:0;
    right:0;
    height:4px;
    animation:an1 1s linear infinite alternate-reverse;
  }
  .logo2 .four{
    position:absolute;
    background-color:#000;
    width:4px;
    bottom:0;
    left:0;
    height:4px;
    animation:an2 1s linear infinite alternate;
  }
  @keyframes an1{
    from{width:0%;}
    to{width:100%}
  }
  @keyframes an2{
    from{height:0%;}
    to{height:100%}
  }